@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home Page</h1>

    <form asp-controller="Home" asp-action="GoToPasswordGenerator" method="get">
        <button class="btn btn-primary">Go To Password Generator</button>
    </form>
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
