@model PasswordOptionsModel
@{
    ViewData["Title"] = "Password Generator";
}

<div class="text-center">
    <h1 class="display-4">Password Generator</h1>

    <form asp-controller="Password" asp-action="Generate" method="post">
        <div class="card">
            <label>Length: <input asp-for="PasswordLength" type="number" value="8"/></label><br />
            <label><input asp-for="IncludeUppercase" type="checkbox" /> Include Uppercase Letters</label><br />
            <label><input asp-for="IncludeLowercase" type="checkbox" /> Include Lowercase Letters</label><br />
            <label><input asp-for="IncludeNumbers" type="checkbox" /> Include Numbers</label><br />
            <label><input asp-for="IncludeSymbols" type="checkbox" /> Include Symbols</label><br />
            <button type="submit">Generate Password</button>
        </div>
    </form>

    @if (ViewBag.Password != null)
    {
        <h2>Your Generated Password:</h2>
        <input id="passwordField" type="password" value="@ViewBag.Password" readonly />
        <button type="button" onclick="togglePasswordVisibility()">Show Password</button>
    }

    <script>
        function togglePasswordVisibility() {
            const passwordField = document.getElementById('passwordField');
            const passwordButton = event.currentTarget;
            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                passwordButton.innerText = 'Hide Password';
            } else {
                passwordField.type = 'password';
                passwordButton.innerText = 'Show Password';
            }
        }

        function copyToClipboard(text) {
            navigator.clipboard.writeText(text).then(() => {
                alert('Password copied to clipboard');
            });
        }
    </script>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

