@model PasswordOptionsModel
@{
    ViewData["Title"] = "Password Generator";
}

<div class="text-center">
    <h1 class="display-4">Password Generator</h1>

    <form asp-controller="Password" asp-action="Generate" method="post">
        <div class="card">
            <label>Length: <input type="number" name="Length" value="8" /></label><br />
            <label><input type="checkbox" name="IncludeUppercase" /> Include Uppercase Letters</label><br />
            <label><input type="checkbox" name="IncludeLowercase" /> Include Lowercase Letters</label><br />
            <label><input type="checkbox" name="IncludeNumbers" /> Include Numbers</label><br />
            <label><input type="checkbox" name="IncludeSymbols" /> Include Symbols</label><br />
            <button type="submit">Generate Password</button>            
        </div>
    </form>

    @if (ViewBag.Password != null)
    {
        <h2>Your Generated Password: @ViewBag.Password</h2>
        <button onclick="copyToClipboard('@ViewBag.Password')">Copy to Clipboard</button>
    }

    <script>
        function copyToClipboard(text) {
            navigator.clipboard.writeText(text).then(() => {
                 alert('Password copied to clipboard');
            });
        }
    </script>

    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
